<div>
  <h2>
    Add A Gist:
  </h2>
    <label> Description
      <input type="text" name="description">
    </label>
    <fieldset id="files">
      <label> Filename
        <input type="text" name="filename" ng-model="gist.files[{{ $index }}].title">
      </label>
      <label> Content
        <input type="text" name="content" ng-model="gist.files[{{ $index }}].content">
      </label>
    </fieldset>
    <button type="button">Add File</button>
    <button type="submit" ng-click="">Add Gist</button>
</div>