<div>
<h2>Books</h2>
<div>
  <input type="text" placeholder="Search Book Title" ng-model="searchBookTitle">
</div>
  <ul>
    <li class="book" ng-repeat="book in bookService.books | filter:searchBookTitle | orderBy:'title'">
      <h4 class="fade"> {{ book.title }}</h4>
      <p class="book_author"> {{ book.author }}</p>
    </li>
  </ul>
  <fieldset>
    <div>
      <label for="new_book_title">Title</label>
      <input if="new_book_title" type="text" ng-model="new_book.title">
    </div>
    <div>
      <label for="new_book_author">Author</label>
      <input if="new_book_author" type="text" ng-model="new_book.author" >
    </div>
    <div>
      <button type="button" ng-click="bookService.addBook(new_book); new_book=null;"> Add Book</button>
    </div>
  </fieldset>
</div>
