<div>
  <h2>
    Edit Gist: {{ gist.title }}
  </h2>
  <label> Description
    <input type="text" name="description" value="{{ gist.description }}" ng-model="gist.description">
  </label>
  <fieldset><!-- model is a gist object with multiple properties -->
    <div ng-repeat="(title, file) in files">
      <label> Filename:
        <input type="text" name="filename" value="{{ title }}" ng-model="gist.files[{{ $index }}].title">
      </label>
      <label> Content:
        <input type="text" name="content" value="{{ file.content }}" ng-model="gist.files[{{ $index }}].content">
      </label>
    </div>
  </fieldset>
  <button type="submit" ng-click="editor.editGist(gist.id, gist);">Update Gist</button>
</div>